$headerBg: url("../img/m-h-day.jpg");
$buttonCollor:#699900;
$buttonTextCollor:#fff;
$linkCollor: #fff;
$beforeCollor:#14a0c7;
$blackText: #2c2f3c;
$bodyBackground:#fff;
$sectionBlock:#21232e;
$gradient: linear-gradient(to right, #679608, #2d5bdb);
$logoCollor:#2c2f3c;