$headerBg: url("../img/m-h-night.jpg");
$buttonCollor:#e3ac00;
$buttonTextCollor:#fff;
$linkCollor: #fff;
$beforeCollor:#ff4e33;
$blackText: #fff;
$bodyBackground:#21232e;
$sectionBlock:#3b3f50;
$gradient: linear-gradient(to right, #dfa703, #922b53);
$logoCollor:#fff;

